.headbar{
    background-color: #333333;
    height: 45px;
    width: 100%;
    font-family: "Helvetica";
    font-size: 18px;
    color: #ffffff;
    line-height: 45px;
    text-align: center;
    position: relative;
}
.headbar_left {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 11px;
    line-height: 100%;
}
.gobackIco{
    width: 12px;
    height: 21px;
    background-image: url("../img/back.png");
    background-size: 12px 21px;
}
.headbar_right{
    display: inline-block;
    line-height: 45px;
    font-size: 15px;
    position: absolute;
    right: 15px;
    top: 0;
}
.phoneIco{
    width: 22px;
    height: 22px;
    margin-top: 11px;
    background-image: url("../img/phonehead.png");
    background-size: 22px 22px;
}